body {
    background-color: rgb(199, 90, 132);
}
h1 {
    text-align: center;
}

h2 {
    color: navajowhite;
    text-align: center;
}

.bio {
    background-color: black;
    color: navajowhite;
    padding: 10px;
    display: block;
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
}

img {
    width: 62.9%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
